.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    padding: 0.2rem 0.4rem;
}

.header:hover {
    box-shadow: 0 0.2rem 0.4rem 0 #BBC6D7;
    transition: 500ms;
}