@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');

.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: 'Poppins';
  text-align: center;
  height: 100vh;
}